body{
  background:#080808 ;
  color: white;

}

header{
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  padding: 4rem 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 3rem;
  color: #ff3c00;
  font-weight: 800;
  cursor: pointer;
  transition:0.3s ease ;

}
.logo:hover{
  transform: scale(1.1);
}
span{
  color:  #ff3c00;
}
.navbar a{
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transperant;
  transition: 0.3s ease;
}
.navbar a:hover{
  border-bottom: 3px solid  #ff3c00;
  color:   #ff3c00;
}
.section{
  min-height: 100hv;
  padding: 1.5rem 15%;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;

}
.home-img img{
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px  #ff3c00;
  transition: 0.4s ease in-out;
  margin-top: 10rem;
 


}
.home-content h1{
  font-size: 6rem;
  font-weight: 700;
  margin-top: 15rem;
  line-height: 1;
}

.home-content h2{
  font-size: 7rem;
  text-align: left;
  display: flex; 
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h3{
  font-size: 4rem;
  margin: 1rem 0;
}

.home-content p{
  font-size: 6rem;
  font-weight: 700;
  margin-top: 45rem;
  line-height: 1;

}
.home-content btn{
  margin: 3rem 0;
}
.social-icons a{
  display: inline flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  background: transperant;
  border: 2px solid  #ff3c00;
  border-radius: 50%;
  color:  #ff3c00;
  margin:1rem 0.5rem ;
  transition: 0.3s ease;
}
.social-icons a:hover{
  color: white;
  background-color:  #ff3c00;
  transform: scale(1.2) translatey(-5px) ;
  box-shadow: 0 0 25px  #ff3c00;
}
.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display:inline-block ;
  padding:1rem 3rem ;
  background:  #ff3c00 ;
  box-shadow: 0 0 25px  #ff3c00;
  border-radius: 2rem;
  font-size:1rem ;
  color: black;
  border: 2px solid transperant;
  font-weight: 600;
  transition: 0.3s ease in-out;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px  #ff3c00;
   box-shadow:0 0 25px  #ff3c00;
}
.btn-group a:nth-of-type(2){
  background-color: black;
  color:  #ff3c00;
  border: 2PX solid  #ff3c00;
  box-shadow: 0 0 25PX transparent;

}
.btn-group a:nth-of-type(2):hover{
  box-shadow:0 0 25px  #ff3c00;
  background-color:  #ff3c00;
  color: black;
}